{% extends "base.html" %}
{% block content %}

<style>
  .jumbotron{
    background: linear-gradient(to right, #3BCDE3, #3BCDE3);

  }
</style>

<div  class="jumbotron text-center">
  <h1>About Dazed And Confused</h1>
</div>

<div class="text-center">
  <div class="lead">
    Dazed is Confused is here to stop you from overspending on items purchased online.<br/> We allow the user to enter a product
    they wish to purchase and return a list of the <br/>products with the URL to purchase along with the price.
<p>
<br/>
<strong>Creators:</strong><br/>
Thomas Haley<br/>
David Flood<br/>
James Parsons
</p>
  </div>
</div>

{% endblock %}
