{# Load the tag library #}
{% load bootstrap3 %}
{# Load Static images and JS #}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
  #Title{
    background-color: white
  }
  .footer{
  background: #E7FBFB;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
</style>

<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content='width=400'>
    <title>Dazed and Confused</title>
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <div class = 'footer'>
      <div class = 'text-center'>
        <a href="{% url 'login' %}">Home</a>
        <a href="{% url 'registration' %}">Registration</a>
        <a href="{% url 'about_page' %}">About Page</a>

  </body>
</html>
