{% extends 'base.html' %}

{% block content %}

<style>
  #form{
    border: 1px solid powderblue;
    text-align: center;
  }
  .jumbotron{
    background: linear-gradient(to right, #3BCDE3, #3BCDE3);

  }
</style>

<div class="jumbotron text-center">
  <h2>Registration Page</h2>
</div>

  <form method="post" id=form>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>

{% endblock %}
