{% extends "base.html" %}
{% block content %}
<style>
  .jumbotron{
    background: linear-gradient(to right, #3BCDE3, #3BCDE3);

  }
</style>

<div class="jumbotron text-center">
  <h1>Welcome {{ user.username|capfirst }} to Dazed and Confused!</h1>
</div>


<h2 class='text-center'>Please search for a product to continue:</h2>

<div style="width:550px; margin:20 auto;">
  <form class='text-center' method="post">
	<input class='text-center' type="text" name="input"><br>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="margin-top:5px;">Search</button>
  </form>

</div>
<body>
{%for item in results%}
<p>{{item.name}}  {{item.price}}</p>
{%for site in item.sitedetails%}
<a href ="{{site.url}}">{{site.url}}</a><br/>
{% endfor %}
{% endfor %}
</body>
{%endblock%}
