{% extends "base.html" %}
{% block content %}

<style>
  input[type="radio"]{
  margin: 0 5px 0 5px;
  }
</style>

<h1 class='text-center'>Welcome {{ user.username|capfirst }} to Dazed and Confused!</h1>

<h2 class='text-center'>Please search for a product to continue:</h2>

<div style="width:550px; margin:20 auto;">
  <input type="search"  id="mySearch" name="q"><button class="btn btn-primary" style="margin-top:5px;">Search</button></br>
  <input type="radio" id="Amazon">Amazon
  <input type="radio" id="eBay">eBay
  <input type="radio" id="Newegg">Newegg

</div>
{%endblock%}
