{% extends "base.html" %}
{% block content %}

<div class="jumbotron text-center">
<h1 class='text-center'>Welcome {{ user.username|capfirst }} to Dazed and Confused!</h1>

<h2 class='text-center'>Please search for a product to continue:</h2>

<div style="width:550px; margin:20 auto;">
  <form class='text-center' method="post">
	<input type="text" name="input"><br>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="margin-top:5px;">Search</button>
  </form>
  <input type="radio" id="Amazon">Amazon
  <input type="radio" id="eBay">eBay
  <input type="radio" id="Newegg">Newegg

</div>
<body>
{{results}}

</body>
</div>
{%endblock%}
