{% extends "base.html" %}
{% block content %}

<style>
  .jumbotron{
    background: linear-gradient(to right, #3BCDE3, #3BCDE3);

  }
</style>

<div class="jumbotron text-center">
<h1>Welcome {{ user.username|capfirst }} to Dazed and Confused!</h1>

<h2 class='text-center'>Please search for a product to continue:</h2>

<div style="width:550px; margin:20 auto;">

  <input type="search"  id="mySearch" name="q"><button type="button" onClick="window.location='user_profile1';">Search</button>


</div>

</div>
{%endblock%}
