{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <h2 class='text-center'>Welcome to the Dazed and Confused Login Page!</h2></br>
  <img src="http://akns-images.eonline.com/eol_images/Entire_Site/2015102/rs_1024x759-151102132605-rs_1024x759-130417122053-1024.DazedConfused.mh.041713.jpg" height="400" width="400" class="center">
  <h3 class='text-center'>Please enter your email adress and password to continue:</h3>
  <form class='text-center' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="margin-top:5px;">Log in</button>
  </form>
{% endblock %}
